<div class="clearQueriesButton">
  <a href="/api/products" class="btn">Limpiar queries</a>
</div>
<div class="products-grid">
  {{#each docs}}
    <div class="card">
      <img src={{this.thumbnail}} class="card-img" />
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <h6 class="card-title">${{this.price}}</h6>
        <hr />
        <p class="card-text">{{this.description}}</p>
      </div>
    </div>
  {{/each}}
</div>
<div class="pagination">
  {{#if hasPrevPage}}
    <a href="{{prevLink}}" class="btn">Atrás</a>
  {{else}}
    <button class="btn-disabled" disabled>Atrás</button>
  {{/if}}

  <button class="btn">{{page}}</button>
  {{#if hasNextPage}}
    <a class="btn" href="{{nextLink}}">Siguiente</a>
  {{else}}
    <button class="btn-disabled" disabled>Siguiente</button>
  {{/if}}
</div>