<div class="cart-container">
  <h1>Carrito {{cart._id}}</h1>
  <hr />
  <h2>Productos del carrito</h2>
    {{#if cart.products.length}}
  <ul>
      {{#each cart.products}}
        <li style="color: white">
          {{this.productId.title}}
          - Cantidad:
          {{this.quantity}}
          - Precio: ${{this.productId.price}}
        </li>
      {{/each}}
  </ul>
    {{else}}
      <h3>No hay productos en el carrito</h3>
    {{/if}}
</div>