<div class="clearQueriesButton">
  <a href="/api/products/realtimeproducts" class="btn">Limpiar queries</a>
</div>
<div class="products-grid" id="productsGrid">
{{#each docs}}
  {{!-- Almacena el contexto actual en una variable --}}
  {{#with this as |product|}}
    <div class="card">
      <img src={{product.thumbnail}} class="card-img" />
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <h6 class="card-title">${{product.price}}</h6>
        <hr />
        <p class="card-text">{{product.description}}</p>
        <div class="divButtons">
          {{#ifEqual @root.userRole "user"}}
          <button
            class="btn"
            type="button"
            onclick="addProductToCart({{json product._id}})"
          >Agregar al carrito</button>
          {{/ifEqual}}
          {{#ifEqual @root.userRole "admin"}}
            <button
              class="btn-red"
              type="button"
              onclick="deleteProduct({{json product._id}})"
            >Eliminar producto</button>
          {{/ifEqual}}
        </div>
      </div>
    </div>
  {{/with}}
{{/each}}
</div>
<div class="pagination">
  {{#if hasPrevPage}}
    <a href="{{prevLink}}" class="btn">Atrás</a>
  {{else}}
    <button class="btn-disabled" disabled>Atrás</button>
  {{/if}}

  <button class="btn">{{page}}</button>
  {{#if hasNextPage}}
    <a class="btn" href="{{nextLink}}">Siguiente</a>
  {{else}}
    <button class="btn-disabled" disabled>Siguiente</button>
  {{/if}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/realTimeProducts.js"></script>