<div class="clearQueriesButton">
  <a href="/api/products/realtimeproducts" class="btn">Limpiar queries</a>
</div>
<div class="form-container">
  <form id="createProductForm">
    <h3>Crea un nuevo producto</h3>
    <div class="form-group">
      <label for="product-title">Título</label>
      <input type="text" id="product-title" name="title" />
    </div>
    <div class="form-group">
      <label for="product-description">Descripción</label>
      <textarea rows="4" id="product-description" name="description"></textarea>
    </div>
    <div class="form-group">
      <label for="product-price">Precio</label>
      <input type="number" id="product-price" name="price" />
    </div>
    <div class="form-group">
      <label for="product-stock">Stock</label>
      <input type="number" id="product-stock" name="stock" />
    </div>
    <div class="form-group">
      <label for="product-code">Código alfanumérico</label>
      <input type="text" id="product-code" name="code" />
    </div>
    <div class="form-group">
      <label for="product-thumbnail">URL de imagen</label>
      <input type="text" id="product-thumbnail" name="code" />
    </div>
    <div class="form-group">
      <label for="product-category">Categoría</label>
      <select id="product-category" name="category">
        <option value="">Sin seleccionar categoría</option>
        <option value="Relojes inteligentes">Relojes inteligentes</option>
        <option value="Notebooks">Notebooks</option>
        <option value="Celulares">Celulares</option>
        <option value="Auriculares">Auriculares</option>
        <option value="Cámaras">Cámaras</option>
      </select>
    </div>
    <div class="form-group">
      <label for="product-status">Estado</label>
      <select id="product-status" name="status">
        <option value="">Sin seleccionar estado</option>
        <option value="true">Verdadero</option>
        <option value="false">Falso</option>
      </select>
    </div>
    <div>
      <button type="submit" class="btn">Crear producto</button>
    </div>
  </form>
</div>
<div class="products-grid" id="productsGrid">
  {{#each docs}}
    <div class="card">
      <img src={{this.thumbnail}} class="card-img" />
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <h6 class="card-title">${{this.price}}</h6>
        <hr />
        <p class="card-text">{{this.description}}</p>
        <div class="divButtons">
          <button class="btn" type="button" onclick="addProductToCart({{json this._id}})">Agregar al carrito</button>
          <button
            class="btn-red"
            type="button"
            onclick="deleteProduct({{json this._id}})"
          >Eliminar producto</button>
        </div>
      </div>
    </div>
  {{/each}}
</div>
<div class="pagination">
  {{#if hasPrevPage}}
    <a href="{{prevLink}}" class="btn">Atrás</a>
  {{else}}
    <button class="btn-disabled" disabled>Atrás</button>
  {{/if}}

  <button class="btn">{{page}}</button>
  {{#if hasNextPage}}
    <a class="btn" href="{{nextLink}}">Siguiente</a>
  {{else}}
    <button class="btn-disabled" disabled>Siguiente</button>
  {{/if}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/realTimeProducts.js"></script>